body {
  color: white;
  margin: 0;
}

/*
##################################
######## Container Styles ########
##################################
*/

/* Set a dynamic fixed height of the viewport with 100vh */
.base-container {
  display: grid;
  height: 100vh;
}

/* Then it's just fr doing all the real work*/
.grid01 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


/*
##############################
######## Child Styles ########
##############################
*/

.base-child {
  background-color: #ffd900;
  border: 1px solid black;
  color: white;
  font-size: 48px;
}